//header
.group-navbar
  margin: 9px 25px 0px 0px
  text-transform: uppercase
.navbar-link::after 
  border-color: $font-color-link-hover
.navbar, .navbar-menu, .navbar-start, .navbar-end 
  background-color: transparent
.navbar-end a.navbar-item, .navbar-item a.navbar-link
  color: $font-color-link
  font-family: $font-lato
  font-size: $font-size-small
  &:hover
    color: $font-color-link-hover

//slider
.masthead
  padding-bottom: calc(10rem - 56px)
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  min-height: 100%
  background-image: url("/slider/2.png")
  background-size: cover
  background-position: center
  font-family: Raleway, sans-serif
  position: relative
  .container
    padding-top: 10rem
    position: absolute
    margin: 0 auto
    left: 5%
    right: 5%
  hr
    margin-top: 30px
    margin-bottom: 30px
  h1
    font-size: 2rem
  p
    font-weight: 300

@media (min-width: 768px)
  .masthead p
    font-size: 18px

@media (min-width: 992px)
  .masthead
    height: 100vh
    min-height: 650px

@media (min-width: 1200px)
  .masthead h1
    font-size: 4remz

// Slider
h1 strong
  color: white
  text-transform: uppercase
  font-weight: 700
.text-description 
  color: #e4e4e4
  font-family: $font-opensan
.my-break 
  height: 1px
.my-button 
  margin-top: 35px
  font-family: $font-opensan
  font-size: 25px
svg#Layer_1 
  margin-top: -45px
// Slider Small
.--img-slider-small
  background-image: url('/assets/img/slider/3.jpg')
  background-color: #cccccc
  height: 300px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  filter: brightness(60%)