$font-color-price: #777
$font-color-link: #333
$font-color-link-hover: #cecece
$font-color-yellow: #e6af2a
$font-color-gray: #626262
$font-lato: 'Lato', sans-serif
$font-opensan: 'Open Sans', sans-serif
$font-montserrat: 'Montserrat', sans-serif
$font-size-small: 15px
$color-main: #d7d7d7
$color-boder: #d7d7d7
$color-follow: #ececec
$randomNumber: random(180)