$font-color-price: #777
$font-color-link: #333
$font-color-link-hover: #cecece
$font-lato: 'Lato', sans-serif
$font-opensan: 'Open Sans', sans-serif
$font-montserrat: 'Montserrat', sans-serif
$font-size-small: 15px
$color-main: #43A047
$randomNumber: random(180)