.is-typing-center
  background-image: url('/assets/img/future-fill.png')
  background-repeat: no-repeat
  height: 600px
.is-typing-left 
  margin-top: 50px
  .is-typing-content
    float: left
    width: 62%
    .is-typing-title 
      margin-top: 30px
      margin-bottom: 20px
      font-size: 12px
      letter-spacing: 2px
      font-family: $font-montserrat
      color: #111
      text-transform: uppercase
      lighting-color: 1.1
      text-align: right
      font-weight: bold
    .is-typing-description 
      margin: 0 0 10px
      text-align: right
      font-size: 14px
      font-weight: 300
      letter-spacing: 0.2px
      line-height: 1.8em
      color: $font-color-price
  .is-typing-icon 
    float: right
    margin-left: 20px
    margin-top: 20px
    width: 30%
    .is-icon 
      background-color: $font-color-yellow 
      color: white
      margin: 35px 0px 0px 0px
      padding: 12px 0px
      width: 80px
      height: 80px
      float: left
      font-size: 50px
      line-height: 50px
      text-align: center
      vertical-align: top
      border: 1px solid #f8f8f8
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
      border-radius: 100px
      transition: all 0.3s
      &:hover 
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2)
        transition: all 0.3s
        color: #c1272d
.is-typing-right 
  margin-top: 50px
  .is-typing-content
    float: right
    width: 62%
    .is-typing-title 
      margin-top: 30px
      margin-bottom: 20px
      font-size: 12px
      letter-spacing: 2px
      font-family: $font-montserrat
      color: #111
      text-transform: uppercase
      lighting-color: 1.1
      font-weight: bold
    .is-typing-description 
      margin: 0 0 10px
      font-size: 14px
      font-weight: 300
      letter-spacing: 0.2px
      line-height: 1.8em
      color: $font-color-price
  .is-typing-icon 
    float: right
    margin-top: 20px
    width: 30%
    .is-icon 
      background-color: $font-color-yellow 
      color: white
      margin: 35px 0px 0px 0px
      padding: 23px 0px
      width: 80px
      height: 80px
      float: left
      font-size: 50px
      line-height: 28px
      text-align: center
      vertical-align: top
      border: 1px solid #f8f8f8
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2)
      border-radius: 100px
      transition: all 0.3s
      &:hover 
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2)
        transition: all 0.3s
        color: #c1272d
.container
  .is-title-typing 
    text-transform: uppercase
    font-size: 1.5rem
    letter-spacing: 4px
    margin: 0 auto
    padding-top: 120px
    padding-bottom: 50px
    text-align: center
    font-family: $font-montserrat
    font-weight: 600
.is-begin
  padding: 10px 111px
  font-size: 1.1em
  letter-spacing: 3px
  background-color: $font-color-yellow 
  color: white
  text-transform: uppercase
  font-family: "Montserrat", sans-serif
  line-height: 1.8em
  border: none
  margin: 0 auto
  justify-content: center
  display: flex
  transform: skewY(15deg)
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2)
  font-weight: 600
  transition: all .2s ease-in-out
  margin-top: -170px
  &:hover
    color: #c1272d