@font-face {
  font-family: 'Lato';
  font-style: italic;
  src: url('../fonts/Lato-Italic.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('../fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-style: italic;
  src: url('../fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.ttf');
}
