.perfect-enter-active {
  animation: perfect-in .5s;
}

.perfect-leave-active {
  animation: perfect-out .5s;
}

@keyframes perfect-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes perfect-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
